@page
@model AccessDeniedModel
@{
    ViewData["Title"] = L["AccessDenied.Title"].Value;
}

<div class="text-center">
    <h1 class="h3">@L["AccessDenied.Title"]</h1>
    <p>@L["AccessDenied.Body"]</p>
    <a asp-page="/Index">@L["AccessDenied.BackHome"]</a>
</div>
